@font-face {
    font-family: 'Flange BQ'sans-serif;
    src: url(../fonts/FlangeBQ.TTF)
}

@font-face {
    font-family: 'Franklin Gothic Heavy'sans-serif;
    src: url(../fonts/FTLTLT.TTF)
}

body {
    background-color: #4e4e4e;
    font-family: 'Oswald', sans-serif;


}


/*Шапка*/
.main-title {
    background-image: url(../img/bg/background_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Меню*/
.menu-list {
    margin: auto;
    padding-top: 20px;
    /*width: 100%;
    justify-content: center;*/
}

.menu-list li {
    padding: 0px 70px;
    font-size: 25px;
}



.menu-list a {
    color: #fff !important;
}

.menu-list a:hover {

    color: gold !important;
}

.show-menu {
    text-align: right;
    margin-right: -30px;


}


.burger {
    background-color: #ffffff;
}



/*Контент шапки*/

.my-block-one {
    padding-top: 80px;
    padding-bottom: 200px;
}

.ava {
    height: 400px;


}


.row1 {
    background-color: rgba(159, 159, 159, 0.15);
    border-radius: 40px;
    border: 2px solid rgba(255, 194, 194, 0.24);
}

.nickname {

    font-family: "Flange BQ";
    font-size: 130px;
    font-style: normal;
    color: #FFC700
}


.title-name {
    display: flex;
    justify-content: center;
    font-size: 150px;


}

.title-surname {
    font-size: 200px;
    display: flex;
    justify-content: center;
    margin-top: -120px;

}



.present {
    display: flex;
    font-family: 'Franklin Gothic Heavy';
    justify-content: center;
    margin-top: -25px;

}

.present-title {

    font-size: 40px;

}

.foto-text {
    color: #D66969;
}

.union-text {
    color: #9FD3CD;
}

.design-text {
    color: #CA89E0;
}


/*Мэйн*/
.main-bg {
    background: #414141;
    background-image: url(../img/bg/bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -700px;


    /*    Портфолио*/

}

.portfolio-title {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Карусель*/
.mycrsl {
    height: 100% !important;
    width: 100%;
    margin: auto;
    border-radius: 40px;
}


.video {
    padding: 10px;

}

/*Раздел Обо мне*/
.about-bg {
    margin: auto;
    width: 100%;
    background-color: #414141;
    min-height: 1000px;
}

.about-title {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Контент ОБО МНЕ*/

.about-bg {
    background-image: url(../img/bg/bg_work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1500px;

}

/*Фото*/

.foto-box img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;

}

/*Текст cверху цитаты*/
.about-square {
    background-color: rgba(255, 252, 252, 0.1);
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #fff;
    max-width: 800px;

}

.text-about {
    display: inline-block;
    text-align: center;


}


.about-name {
    font-size: 25px;

}

.name-color {
    padding-left: 2px;
}

.about-old {
    font-size: 20px;
}

.about-1 {
    font-size: 19px;
}

.five {
    padding-left: 2px;
    padding-right: 2px;
    color: #FFDA58;
}

.about-2 {

    font-size: 19px;
}

.about-3 {

    font-size: 19px;
    padding-bottom: 12px;
    border-bottom: 2px solid;
    border-bottom-style: dashed;
}

.alive {
    color: #7EFF8B;
}



/*Цитата*/

.mycite {

    display: block;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    margin: auto;

}

.dynamic {
    color: aqua;


}

.four {

    color: #FFDA58;
}


.happy {


    color: #B4FF55;
}

/*Что я умею*/

.skills {
    font-family: "franklin gothic heavy";
    font-size: 35px;
    color: gold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.69);
    border-radius: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 2px rgb(245, 0, 255);
    border-style: dashed;

}

.skills h4 {
    font-size: 50px;


}



.list {

    padding: 0px;
}


.list p {
    font-family: cursive;
    color: #ffffff;
    font-size: 30px;
    margin: auto;
    border-bottom: 2px rgba(255, 255, 255, 0.58);
    border-bottom-style: dotted;


}

.list li {
    font-family: "oswald";
    color: #ffee26;
    font-size: 20px;
    list-style: none;
    padding: 4px;


}

.fotoset {

    font-size: 30px;

}









/*Медиазапросs*/


@media (min-width:993px) {

    .foto-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -300px;
    }






}

@media (max-width:767px) {


    .mycite {

        font-size: 17px;

    }

    .list p {
        color: #ffffff;
        font-size: 25px;
        margin: auto;

    }




    .list li {

        color: #ffee26;
        font-size: 17px;
        list-style: none;

    }


}



@media (min-width:1200px) {

    .foto-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -220px;




    }


}

@media screen and (max-width: 500px) {

    .title-name {
        display: flex;
        justify-content: center;
        font-size: 115px;


    }

    .title-surname {
        font-size: 150px;
        display: flex;
        justify-content: center;
        margin-top: -85px;

    }

    .present-title {

        font-size: 28px;

    }



    .main-title {
        height: 800px;
    }

    .portfolio-title {

        font-size: 35px;

    }





}

@media (min-width:1900px) {

    .main-title {
        padding-bottom: 240px;
    }

    .my-block-one {
        margin-top: 10%;
    }
}






}

@media (min-width:1080px) {

    .main-title {
        padding-bottom: 270px;
    }

}




@media (max-width:575px) {

    .ava {
        display: none;
    }


}
